<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>greeting-service</servlet-name>
    <servlet-class>org.fusesource.restygwt.examples.server.GreetingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greeting-service</servlet-name>
    <url-pattern>/ui/greeting-service</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>ui/ui.html</welcome-file>
  </welcome-file-list>
</web-app>
