target
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.DS_Store
src/it/*/bin/
src/it/*/tomcat/
src/it/*/war/WEB-INF/classes/
src/it/*/war/WEB-INF/lib/
src/it/*/war/META-INF/
src/it/*/www-test/
classes
.idea
war
