<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.hiramchirino.examples.server</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>junit</servlet-name>
    <servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>junit</servlet-name>
    <url-pattern>/jaxb/junithost</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/jaxb/rest/*</url-pattern>
  </servlet-mapping>
   
</web-app>
